<!--

    This is the same example than first-comp, but in this case we will use a Polymer element.

    We will use the polymer element no matter if the platform was polyfilled or not. This way we
    get rid of quite a buch of lines of code but the web perfomance is much slower.

    There is no need to create the shadowDOM and attach it the the custom element, it is done automatically.
    There is no need to use ShaddyCSS to keep the element styles when the browser is not compatible, it is done automatically.

    Just import the polymer html and encapsyle our custom element inside <dom-module> tags.
-->



<link rel="import"  href="https://polygit.org/components/polymer/polymer-element.html">
<dom-module id="custom-element">

    <template>

        <style>


            :host   {

                position: absolute;
                width: 40%;
                top:40%;
                left:40%;

                display: block; /* by default, custom elements are display: inline */
                opacity: 0.8;
                will-change: opacity;
                transition: opacity 300ms ease-in-out;
                color: blue;
                background-color: lightcoral;



                padding: 15px;
                text-align: center;            }

            :host(:hover) {
                opacity: 1;
            }
            :host([disabled]) { /* style when host has disabled attribute. */
                background: grey;
                pointer-events: none;
                opacity: 0.4;
            }

            :host(.pink) > .container > h1{
                color: pink; /* color internal #tabs node when host has class="pink". */
            }

            .container {

                background-color: yellow;
            }

            /* For some reason in FireFox you have to set all the levels
            for the selector to work: :host ::slotted(p) wont work. */
            :host .container ::slotted(div)  {
                color: red;
            }

            /* For some reason this does not work on chrome (can only select top-level nodes)*/
            :host > .container > ::slotted(div) > p  {
                color: lightseagreen !important;
            }

        </style>




        <div class="container">
            <h1><strong>THIS IS THE SHADOW!</strong></h1>
            <slot name="content">DEFAULT SLOT CONTENT</slot>
        </div>


    </template>


    <script>
        // Define the class for a new element called custom-element
        class CustomElement extends Polymer.Element {
            static get is() { return "custom-element"; }

            constructor() {
                super();
                //this.textContent = "I'm a custom-element.";
            }

            connectedCallback() {

                super.connectedCallback();

                // Setup a click listener on <first-comp> itself.
                this.addEventListener('click', e => {
                    // Don't toggle the drawer if it's disabled.
                    this.changeBgColor();

                });

            }

            disconnectedCallback() {
                super.disconnectedCallback();
            }
            attributeChangedCallback(attrName, oldVal, newVal) {
                super.attributeChangedCallback();
            }

            changeBgColor()    {


                $(this.shadowRoot).children(".container").css("background-color","grey");
                $(this).children("div").css("background-color","white");
            }


        }
        // Register the new element with the browser
        window.customElements.define(CustomElement.is, CustomElement);
    </script>

</dom-module>