<!-- ----------------------------------------------------------------- -->
<!-- SHADOW DOM -->
<!-- Defines element markup -->
<!-- ----------------------------------------------------------------- -->


<link rel="import"  href="https://polygit.org/components/polymer/polymer-element.html">

<dom-module id="dotted-bg-img-poly">

<template>

    <!-- STYLES -->
    <style>

        :host {

            all: initial; /* 1st rule so subsequent properties are reset. */
            display: block;

        }

        #container {
            background: var(--color-bg, #000);
            position: absolute;
            left: 0;
            top: 0;
        }


        #container::after {
            position: absolute;
            top: 33%;
            right: 0;
            left: 0;
            width: 199px;
            height: 185px;
            margin: 0 auto;
            background: var(--background-svg);
            content: '';
            z-index: 0;
            opacity:.8;
            pointer-events: none;
        }


        .img-shadow    {

            position: absolute;
            width: 65%;
            height: 65%;
            top: 50%;
            left: 50%;
            z-index: 1;
            pointer-events: none;
            will-change: transform;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }

        :host > #container > .img-shadow > ::slotted(img)   {
            position: absolute;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }




        .img-shadow::after {
            content: "";

            box-shadow: 0px 10px  5px rgba(0,0,0,0.6);
            -moz-box-shadow: 0px 10px  5px  rgba(0,0,0,0.6);
            -webkit-box-shadow: 0px 10px 5px  rgba(0,0,0,0.6);
            -o-box-shadow: 0px 10px 5px  rgba(0,0,0,0.6);
            border-radius:25px;
        }


    </style>


    <!-- WEB COMP STRUCTURE -->
    <div id='container'>

        <div class="img-shadow"><slot name="img"></slot></div>
    </div>


</template>
<!-- ----------------------------------------------------------------- -->


<!-- ----------------------------------------------------------------- -->
<!-- JS -->
<script type="text/javascript">



    class DottedBgImgPoly extends Polymer.Element {
        // Define behavior here

        static get is() { return "dotted-bg-img-poly"; }

        //////////////////////////////////////////////////////////////////////////
        // CONSTRUCTOR
        //////////////////////////////////////////////////////////////////////////
        // Can define constructor arguments if you wish.
        constructor() {
            // If you define a ctor, always call super() first!
            // This is specific to CE and required by the spec.
            super();


            // Bind functions:
            this.step = this.step.bind(this);

        }
        //////////////////////////////////////////////////////////////////////////



        //////////////////////////////////////////////////////////////////////////
        // CALLBACKS.
        //////////////////////////////////////////////////////////////////////////
        // Se llama cada vez que se inserta el elemento en el DOM. Es útil para ejecutar código de configuración,
        // como la obtención de recursos o la representación. En general, debes intentar demorar el trabajo hasta
        // este momento.
        connectedCallback() {

            super.connectedCallback();

            // Setup a click listener on <web-comp-template.html> itself.
            this.addEventListener('click', e => {
                // Don't toggle the drawer if it's disabled.

            });

            this.initVars();
            this.init();
            this.step();

        }

        // 	Se llama cada vez que se quita el elemento del DOM. Es útil para ejecutar código de limpieza
        // (eliminación de receptores de eventos, etc.).
        disconnectedCallback() {
            super.disconnectedCallback();
        }

        // Se agrega, quita, actualiza o reemplaza un atributo. También se llama para obtener valores iniciales
        // cuando el analizador crea un elemento o lo actualiza. Nota: solo los atributos que se indiquen en la
        // propiedad observedAttributes recibirán este callback.
        attributeChangedCallback(attrName, oldVal, newVal) {
            super.attributeChangedCallback();
        }

        // El elemento personalizado se traslada a un nuevo document (p. ej., alguien llama a document.adoptNode(el)).
        adoptedCallback()   {
            super.adoptedCallback();
        }
        //////////////////////////////////////////////////////////////////////////



        //////////////////////////////////////////////////////////////////////////
        // ATTRIBUTES
        //////////////////////////////////////////////////////////////////////////
        // Add js properties mapped with html attributes.
        // Set the "open" property
        set dataCols(num) {
            this.setAttribute("data-cols", num);
        }

        // Get the "open" property
        get dataCols() {
            return this.getAttribute("data-cols");
        }
        set dataRows(num) {
            this.setAttribute("data-rows", num);
        }

        // Get the "open" property
        get dataRows() {
            return this.getAttribute("data-rows");
        }
        //////////////////////////////////////////////////////////////////////////



        //////////////////////////////////////////////////////////////////////////
        // JS FUNCTIONS.
        //////////////////////////////////////////////////////////////////////////
        /**
         * This function initialize the needed variables for the dots animation
         * within the DottedBgImg instance scope.
         */
        initVars()  {

            this.NUM_PARTICLES = ( ( this.ROWS = this.dataRows ) * ( this.COLS = this.dataCols ) ),  // Number of particles
                this.THICKNESS = Math.pow( 70, 2 ),                      // Radio of the repelling circle (square radio).
                this.SPACING = 7,                                        // Space between particles.
                this.MARGIN = 5,                                         // Margins of the canvas.
                this.COLOR = 255,                                        // Color of the dots.
                this.DRAG = 0.95,                                        // The DRAG factor decrease the velocity on every step (<1)
                this.EASE = 0.25,                                        // The EASE factor makes the point move slower the nearer it is form its original position.(<1)

                this.container, this.particle, this.canvas, this.list, this.ctx, this.toggle, this.man,
                this.dx, this.dy, this.mx, this.my,
                this.d, this.t, this.f, this.a, this.b, this.i, this.n, this.w, this.h, this.p;

            /* used for sine approximation, but Math.sin in Chrome is still fast enough :)http://jsperf.com/math-sin-vs-sine-approximation
            var B = 4 / Math.PI,
            C = -4 / Math.pow( Math.PI, 2 ),
            P = 0.225;
            */


            // Object particle.
            this.particle = {
                vx: 0,      // Speed on X axis.
                vy: 0,      // Speed on Y axis.
                x: 0,       // X position.
                y: 0,       // Y position.
                ox: 0,      // X original position.
                oy: 0       // Y original position.
            };
        }

        /**
         * This method creates a canvas with the and puts it inside the container div, it will initialize
         * the array of points giving them initial positions on rows and cols separated SPACING pixels.
         */
        init() {

            // Get the container div.
            this.container = this.shadowRoot.getElementById( 'container' );
            // Create a canvas DOM Element.
            this.canvas = document.createElement( 'canvas' );
            // Get the canvas' context.
            this.ctx = this.canvas.getContext( '2d' );

            // (De)Activate mouse control of particle movement.
            this.man = true;

            // This variable is used to toggle the animationFrame event, odd times do something
            // and even times do something else.
            this.toggle = true;

            // Array to store the list of points.
            this.list = [];

            // Calculating canvas width and height.
            // We can change the w and h using MARGIN value to set the dots square (canvas) perfectly centered on
            // the container.
            this.w = this.canvas.width = this.COLS * this.SPACING + this.MARGIN ;
            this.h = this.canvas.height = this.ROWS * this.SPACING;

            // This is equal to transform: translateX(-50%) translateY(-50%) on the
            // #container style, so the container is centered both horizontal and vertical.
            this.container.style.marginLeft = Math.round( this.w * -0.5 ) + 'px';
            this.container.style.marginTop = Math.round( this.h * -0.5 ) + 'px';

            // Here we create the particle objects.
            for ( this.i = 0; this.i < this.NUM_PARTICLES; this.i++ ) {

                // Give them its initial position.
                this.p = Object.create( this.particle );
                this.p.x = this.p.ox = this.MARGIN + this.SPACING * ( this.i % this.COLS );
                this.p.y = this.p.oy = this.MARGIN + this.SPACING * Math.floor( this.i / this.COLS );

                // Store them on the list array.
                this.list[this.i] = this.p;
            }

            // On mousemove inside container we will get the mouse position
            // relative to the container, that is, the contaier top left corner
            // will be the (mx,my)=(0,0)
            let self = this;
            this.container.addEventListener( 'mousemove', function(e) {
                this.bounds = this.container.getBoundingClientRect();
                this.mx = e.clientX - this.bounds.left;
                this.my = e.clientY - this.bounds.top;
                // Activate mouse control of particle movement.
                this.man = true;
            }.bind(this));

            // This eliminates the mouse influence when mouse goes out of the container.
            this.container.addEventListener( 'mouseout', function(e) {
                this.mx = this.my = -this.THICKNESS;
            }.bind(this));


            // Add canvas to DOM.
            this.container.appendChild( this.canvas );
        }

        /**
         * This method is called every new frame. One time the if will be executed and the
         * the else block the following one.
         *
         * The first time it will calculate the position of every point in the array list[]
         * The second time it will paint the new positions on canvas.
         */
        step() {


            // This will be executed once every twice calls to function step().
            if ( this.toggle = !this.toggle ) {

                // Authomatic movements before mouse passes over container.
                if ( !this.man ) {
                    this.t = + new Date() * 0.001;
                    this.mx = this.w * 0.5 + ( Math.cos( this.t * 2.1 ) * Math.cos( this.t * 0.9 ) * this.w * 0.45 );
                    this.my = this.h * 0.5 + ( Math.sin( this.t * 3.2 ) * Math.tan( Math.sin( this.t * 0.8 ) ) * this.h * 0.45 );
                }

                // This iterates throw all the points in the array.
                for ( this.i = 0; this.i < this.NUM_PARTICLES; this.i++ ) {

                    // Get the corresponding point from list array.
                    this.p = this.list[this.i];

                    // Calculates distant from the point to the mouse position --> d2 = dx2 + dy2
                    this.d = ( this.dx = this.mx - this.p.x ) * this.dx + ( this.dy = this.my - this.p.y ) * this.dy;
                    // f > 1 for the points inside the circle, f < 1 for points outside the circle.
                    this.f = -this.THICKNESS / this.d;

                    // If the point is inside the mouse circle of radio THICKNESS we calculate
                    // a velocity depending on how far the point is from the circle center (mouse pointer).
                    if ( this.d < this.THICKNESS ) {
                        this.t = Math.atan2( this.dy, this.dx );
                        this.p.vx += this.f * Math.cos(this.t);
                        this.p.vy += this.f * Math.sin(this.t);
                    }

                    // Increase the point position depending on the velocity. For the points that fit its original
                    // position both p.x += 0 and p.y += 0.
                    // The EASE factor makes the point move slower the nearer it is form its original position.
                    // The DRAG factor decrease the velocity on every step. Must be <1 for the points to return to its original position.
                    this.p.x += ( this.p.vx *= this.DRAG ) + (this.p.ox - this.p.x) * this.EASE;
                    this.p.y += ( this.p.vy *= this.DRAG ) + (this.p.oy - this.p.y) * this.EASE;

                }

                // This will be executed once every twice calls to function step().
            } else {

                // The createImageData() method of the Canvas 2D API creates a new blank ImageData object with the specified
                // dimensions. All of the pixels in the new object are transparent black rgba = (0,0,0,0).
                // It returns an ImageData interface, that represents the underlying pixel data of an area of a <canvas>.
                // + ImageData.data -> The readonly ImageData.data property returns a Uint8ClampedArray representing a
                // one-dimensional array containing the data in the RGBA order, with integer values between 0 and 255.
                // That means, the color of the pixel (0,0) is encoded by the first 4 elements of the Uint8ClampedArray.
                this.b = ( this.a = this.ctx.createImageData( this.w, this.h ) ).data;

                // We run throw all the points in the array.
                for ( this.i = 0; this.i < this.NUM_PARTICLES; this.i++ ) {

                    // Get the actual point.
                    this.p = this.list[this.i];

                    // Then we find the pixel in the data array that is closest to the position of this point and set its color.
                    // We set the color in the first three elements of each group of 4.
                    // Bitwise operator ~~ is a faster substitute for Math.floor()
                    this.b[this.n = ( ~~this.p.x + ( ~~this.p.y * this.w ) ) * 4] = this.b[this.n+1] = this.b[this.n+2] = this.COLOR;
                    // We set te transparency in the last element of each group of 4.
                    this.b[this.n+3] = 240;
                }

                // Draw the image data on the canvas.
                this.ctx.putImageData( this.a, 0, 0 );
            }



            // Call step() function every new frame.
            requestAnimationFrame(this.step);
        }
        //////////////////////////////////////////////////////////////////////////
    }


    // Use custom elements API v1 to register a new HTML tag and define its JS behavior
    // using an ES6 class. Every instance of <custom-component> will have this same prototype.
    window.customElements.define(DottedBgImgPoly.is, DottedBgImgPoly);

</script>

</dom-module>
<!-- ----------------------------------------------------------------- -->