<!-- SO IN ORDER TO USE ONLY POLYFIL, NOT POLYMER:



Since, if the browser implements web components we will not polyfill it, we have to check
on our web component in order to use ShadyCSS or not, and also the way we attach the template
to the shadowDOM, since thatDoc.currentScript throws an error when using polyfill.

The ShadowDOM polyfill is not able to encapsulate CSS in ShadowDOM out of the box.
You need to use specific code from the ShadyCSS library, included with the polyfill.

<!-- Defines element markup -->
<template id="first-comp-template">

    <style>
        :host   {

            position: absolute;
            width: 40%;
            top:40%;
            left:40%;

            display: block; /* by default, custom elements are display: inline */
            opacity: 0.8;
            will-change: opacity;
            transition: opacity 300ms ease-in-out;
            color: blue;
            background-color: lightcoral;



            padding: 15px;
            text-align: center;            }

        :host(:hover) {
            opacity: 1;
        }
        :host([disabled]) { /* style when host has disabled attribute. */
            background: grey;
            pointer-events: none;
            opacity: 0.4;
        }

        :host(.pink) > .container > h1{
            color: pink; /* color internal #tabs node when host has class="pink". */
        }

        .container {

            background-color: yellow;
        }

        /* For some reason in FireFox you have to set all the levels
        for the selector to work: :host ::slotted(p) wont work. */
        :host .container ::slotted(div)  {
            color: red;
        }

        /* This does not work on chrome: DOESN'T WORK (can only select top-level nodes).*/
        :host > .container > ::slotted(div) > p  {
            color: lightseagreen !important;
        }

    </style>



    <div class="container">
        <h1><strong>THIS IS THE SHADOW!</strong></h1>
        <slot name="content">DEFAULT SLOT CONTENT</slot>
    </div>




</template>




<script type="text/javascript">


    // To know if we have polifilled the platform or not.
    'registerElement' in document && 'import' in document.createElement('link') && 'content' in document.createElement('template')
    ? webCompSupport = true
    : webCompSupport = false;


    class FirstComp extends HTMLElement {

        // Can define constructor arguments if you wish.
        constructor() {
            // If you define a ctor, always call super() first!
            // This is specific to CE and required by the spec.
            super();

            // Create a shadow root for our first-comp component.
            var shadowRoot = this.attachShadow({mode: 'open'});

            // We can set the shadow root html content in several ways:

            // + We can of course directly write the html>
            // shadowRoot.innerHTML = `<style></style><strong>Shadow dom super powers for the win!</strong>`;

            // + Or we can use the template to keep it all in order:

            if (webCompSupport) {
                // THIS METHODS FAILS WHEN USING POLYFILL: document.currentScript = null.
                // Refers to the "importer", which is index.html
                var thatDoc = document;
                // Refers to the "importee", which is first-comp.html
                var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
                // Gets content from <template>.
                var template = thisDoc.querySelector('template');
                // Adds a template clone into shadow root.
                var clone = thatDoc.importNode(template.content, true);

            } else {

                // WE WILL USE THE TEMPLATE ID.
                // Gets content from <template> using its ID property.
                var template = document.querySelector( '#first-comp-template' );
                // Adds a template clone into shadow root.
                var clone = document.importNode( template.content, true );

            }


            // Add template element as a shadow root for the web component.
            shadowRoot.appendChild(clone);

            // If there is no native support for web components we have to shim the template syles using ShadyCss
            // pluggin (inside Polyfill). Here we prepare the styles to apply them in the connectedCallback().
            if (!webCompSupport) ShadyCSS.prepareTemplate(document.querySelector( '#first-comp-template' ), 'first-comp');
        }



        connectedCallback() {


            // Here we apply the styles.
            if (!webCompSupport) ShadyCSS.styleElement(this);

            // Setup a click listener on <first-comp> itself.
            this.addEventListener('click', e => {
                // Don't toggle the drawer if it's disabled.
                this.changeBgColor();

            });

        }
        disconnectedCallback() {
            super.disconnectedCallback();
        }
        attributeChangedCallback(attrName, oldVal, newVal) {
            super.attributeChangedCallback();

        }


        changeBgColor()    {

            $(this.shadowRoot).children(".container").css("background-color","grey");
            $(this).children("div").css("background-color","white");
        }


    }

    window.customElements.define('first-comp', FirstComp);


</script>