<!-- STRING MENU -->
<!-- This is vertical menu that opens a closes with an elastic string animation -->
<!-- INITIALIZATION: -->
<!-- <string-menu right></string-menu> -->
<!-- ATTRIBUTES: -->
<!-- + right -> If it is present the mmenu will be set on the right side of the screen. Otherwise on the left side. -->
<!-- -->


<!-- INCLUDE DEPENDENCIES -->
<script type="text/javascript" src="./js/snap.svg-min.js"></script>
<script type="text/javascript" src="./js/classie.js"></script>


<!-- SHADOW DOM -->
<!-- Defines element markup -->
<template id="string-menu-circle-template">




    <style>

        :host   {

        }


        :host .menu {
            position: fixed;
            width: 300px;
            top: 3em;
            bottom: 3em;
            left: 0;
            z-index: 100;
            overflow: hidden;
            -webkit-transform: translate3d(-150px, 0, 0);
            transform: translate3d(-150px, 0, 0);
            -webkit-transition: -webkit-transform 0.6s;
            transition: transform 0.6s;
        }

        :host([right]) .menu   {
            right: 0;
            left: unset;
            -webkit-transform: translate3d(+150px, 0, 0);
            transform: translate3d(+150px, 0, 0);

        }

        :host .menu.menu--open {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }



        .main {
            -webkit-transition: opacity 0.6s;
            transition: opacity 0.6s;
        }

        :host .menu.menu--open + .main {
            opacity: 0.3;
            pointer-events: none;
        }

        :host .menu__inner {
            width: calc(100% + 25px);
            padding: 0 140px 2em 0;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            z-index: 100;
            text-align: center;
        }

        :host([right]) .menu__inner {
            padding: 0 0px 2em 100px;
        }

        :host .menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        :host .menu ul li {
            margin: auto;
            width: 4rem;
            height: 4rem;
            margin: 0 auto 2em;
            -webkit-transform: translate3d(-150px, 0, 0);
            transform: translate3d(-150px, 0, 0);
            -webkit-transition: -webkit-transform 0.6s;
            transition: transform 0.6s;
        }

        :host([right]) .menu ul li {
            -webkit-transform: translate3d(+150px, 0, 0);
            transform: translate3d(+150px, 0, 0);

        }

        :host .menu.menu--anim ul li {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        :host .menu ul li:first-child {
            -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
        }

        :host .menu ul li:nth-child(2) {
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }

        :host .menu ul li:nth-child(3) {
            -webkit-transition-delay: 0.1s;
            transition-delay:0.1s;
        }

        :host .menu ul li:nth-child(4) {
            -webkit-transition-delay: 0.15s;
            transition-delay:  0.15s;
        }

        :host .menu ul li:nth-child(5) {
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }

        :host .menu ul li:nth-child(6) {
            -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;;
        }





        /* HAMBURGER MENU BUTTON */
        :host .menu__handle {
            background: rgba(47, 50, 56, 0);
            border: none;
            width: 30px;
            height: 24px;
            padding: 0;
            outline: none;
            position: absolute;
            top: 3px;
            right: 70px;
            z-index: 2000;
            cursor: pointer;
            focus: none;
        }

        /* Get rid of dotted firefox border on click */
        :host .menu__handle::-moz-focus-inner {
            border: 0;
        }

        :host([right]) .menu__handle {

            left: 70px;
            right:unset;
        }

        :host .menu__handle::before,
        :host .menu__handle::after,
        :host .menu__handle span {
            background: #fff;
        }

        :host .menu__handle::before,
        :host .menu__handle::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
            top: 50%;
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transition: -webkit-transform 0.25s;
            transition: transform 0.25s;
        }

        :host .menu__handle span {
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            overflow: hidden;
            text-indent: 200%;
            -webkit-transition: opacity 0.25s;
            transition: opacity 0.25s;
        }

        :host .menu__handle::before {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
        }

        :host .menu__handle::after {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        :host .menu--open .menu__handle span {
            opacity: 0;
        }

        :host .menu--open .menu__handle::before {
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
        }

        :host .menu--open .menu__handle::after {
            -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
        }

        :host .morph-shape {
            position: absolute;
            width: 240px;
            height: 100%;
            top: 0;
            right: 0;
            left: unset;
        }

        :host([right]) .morph-shape {
            left: 0;
            right:unset;
        }

        :host .morph-shape svg path {
            stroke: #fff;
            stroke-width: 5px;
        }

        @media screen and (max-width: 63em) {
            .main {
                padding: 0 2em;
                -webkit-transition: opacity 0.6s;
                transition: opacity 0.6s;
            }

            :host .menu {
                -webkit-transform: translate3d(-170px, 0, 0);
                transform: translate3d(-170px, 0, 0);
            }

            :host .menu.menu--open + .main {
                opacity: 0.05;
            }
        }









        /* MENU CIRCLE BUTTONS */
        :host .menu ul li .ch-item {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: relative;
            cursor: default;
            box-shadow:
                    inset 0 0 0 0 rgba(200,95,66, 0.4),
                    inset 0 0 0 3px rgba(255,255,255,0.6),
                    0 1px 2px rgba(0,0,0,0.1);
            transition: all 0.4s ease-in-out, background-size 0.15s ease-in-out;
        }

        :host .menu ul li:nth-child(1) .ch-item {

            background: url("./components/icons/home.svg") no-repeat center;
            background-size: 30px 30px;
        }

        :host .menu ul li:nth-child(2) .ch-item {
            background: url("./components/icons/about.svg") no-repeat center;
            background-size: 30px 30px;
        }

        :host .menu ul li:nth-child(3) .ch-item {
            background: url("./components/icons/team.svg") no-repeat center;
            background-size: 30px 30px;
        }

        :host .menu ul li:nth-child(4) .ch-item {
            background: url("./components/icons/services.svg") no-repeat center;
            background-size: 30px 30px;
        }

        :host .menu ul li:nth-child(5) .ch-item {
            background: url("./components/icons/portfolio.svg") no-repeat center;
            background-size: 30px 30px;
        }
        :host .menu ul li:nth-child(6) .ch-item {
            background: url("./components/icons/contact.svg") no-repeat center;
            background-size: 30px 30px;
        }

        :host .menu ul li .ch-item:hover {
            box-shadow:
                    inset 0 0 0 110px rgba(200,95,66, 0.4),
                    inset 0 0 0 3px rgba(255,255,255,0.8),
                    0 1px 2px rgba(0,0,0,0.1);
            background-size: 35px 35px;
        }

        :host .menu ul li .ch-item .ch-info {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            opacity: 0;
            transition: all 0.25s ease-in-out;
            transform: scale(0);
            backface-visibility: hidden;
        }

        :host .menu ul li .ch-item:hover .ch-info {
            opacity: 1;
            transform: scale(1);
        }

        :host .menu ul li .ch-item .ch-info h3 {

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            overflow: hidden;
            margin: 0;
            width: 100%;

            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: .8em;
            font-family: 'Open Sans', Arial, sans-serif;
            text-shadow:
                    0 0 1px #fff,
                    0 1px 2px rgba(0,0,0,0.3);
        }

    </style>

    <!-- WEB COMP STRUCTURE: SHADOW DOM -->
    <!-- menu -->
    <nav id="menu" class="menu">
        <button class="menu__handle"><span>Menu</span></button>
        <div class="menu__inner">
            <ul>
                <li><div class="ch-item"><div class="ch-info"><h3>home</h3></div></div></li>
                <li><div class="ch-item"><div class="ch-info"><h3>about</h3></div></div></li>
                <li><div class="ch-item"><div class="ch-info"><h3>team</h3></div></div></li>
                <li><div class="ch-item"><div class="ch-info"><h3>what</br>we do</h3></div></div></li>
                <li><div class="ch-item"><div class="ch-info"><h3>works</h3></div></div></li>
                <li><div class="ch-item"><div class="ch-info"><h3>let's</br>talk</h3></div></div></li>
            </ul>
        </div>
        <div class="morph-shape" data-morph-open="M300-10c0,0,295,164,295,410c0,232-295,410-295,410" data-morph-close="M300-10C300-10,5,154,5,400c0,232,295,410,295,410">
            <svg width="100%" height="100%" viewBox="0 0 600 800" preserveAspectRatio="none">
                <path fill="none" d="M300-10c0,0,0,164,0,410c0,232,0,410,0,410"/>
            </svg>
        </div>
    </nav><!-- /menu -->


</template>


<script type="text/javascript">


    // To know if we have polifilled the platform or not.
    'registerElement' in document && 'import' in document.createElement('link') && 'content' in document.createElement('template')
        ? webCompSupport = true
        : webCompSupport = false;

    class StringMenuCircle extends HTMLElement {
        // Define behavior here

        static get is() { return "string-menu-circle"; }


        // A getter/setter for an right property.
        get right() {
            return this.hasAttribute('right');
        }

        // Se crea o se actualiza una instancia del elemento. Es útil para inicializar el estado, configurar
        // receptores de eventos ocrear un Shadow DOM. Consulta la especificación para obtener información sobre
        // las restricciones en relación con lo que puedes hacer en el constructor. -->
        // Can define constructor arguments if you wish.
        constructor() {
            // If you define a ctor, always call super() first!
            // This is specific to CE and required by the spec.
            super();


            // Create a shadow root for our web-comp-template.html component.
            var shadowRoot = this.attachShadow({mode: 'open'});

            // We can set the shadow root html content in several ways:

            // We can of course directly write the html>
            // shadowRoot.innerHTML = `<style></style><strong>Shadow dom super powers for the win!</strong>`;

            // Or we can use the template to keep it all in order.
            // thatDoc refers to the "importer", which is index.html
            let thatDoc = document;
            // thisDoc refers to the "importee, the web component HTML"
            // If we are using Polyfill the thatDoc.currentScript will throw an error.
            try {
                let thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
                // Gets content from <template>.
                var template = thisDoc.querySelector( 'template' ).content;
            } catch(e) {
                var template = document.querySelector( '#string-menu-circle-template' ).content;
            }


            // Adds a template clone into shadow root.
            let clone = document.importNode( template, true );
            shadowRoot.appendChild(clone);


            // If there is no native support for web components we have to shim the template styles using ShadyCss
            // pluggin (inside Polyfill). Here we prepare the styles to apply them in the connectedCallback().
            if (!webCompSupport) ShadyCSS.prepareTemplate(document.querySelector( '#string-menu-circle-template' ), 'string-menu-circle');

        }


        // CALLBAKCS

        // Se llama cada vez que se inserta el elemento en el DOM. Es útil para ejecutar código de configuración,
        // como la obtención de recursos o la representación. En general, debes intentar demorar el trabajo hasta
        // este momento.
        connectedCallback() {

            // Here we apply the styles.
            if (!webCompSupport) ShadyCSS.styleElement(this);

            // Change the string animation behaviour if the menu is set to the right of the screen.
            if (this.right) {
                $(this.shadowRoot).find(".morph-shape").attr("data-morph-close", "M300-10c0,0,295,164,295,410c0,232-295,410-295,410");
                $(this.shadowRoot).find(".morph-shape").attr("data-morph-open", "M300-10C300-10,5,154,5,400c0,232,295,410,295,410");
            }

            // Init String Menu interactivity.
            this.el = this.shadowRoot.getElementById( 'menu' );
            this.init();

        }

        // 	Se llama cada vez que se quita el elemento del DOM. Es útil para ejecutar código de limpieza
        // (eliminación de receptores de eventos, etc.).
        disconnectedCallback() {

        }

        // Se agrega, quita, actualiza o reemplaza un atributo. También se llama para obtener valores iniciales
        // cuando el analizador crea un elemento o lo actualiza. Nota: solo los atributos que se indiquen en la
        // propiedad observedAttributes recibirán este callback.
        attributeChangedCallback(attrName, oldVal, newVal) {

        }

        // El elemento personalizado se traslada a un nuevo document (p. ej., alguien llama a document.adoptNode(el)).
        adoptedCallback()   {

        }



        init() {

            this.trigger = this.el.querySelector( 'button.menu__handle' );
            this.shapeEl = this.el.querySelector( 'div.morph-shape' );

            var s = Snap( this.shapeEl.querySelector( 'svg' ) );
            this.pathEl = s.select( 'path' );
            this.paths = {
                reset : this.pathEl.attr( 'd' ),
                open : this.shapeEl.getAttribute( 'data-morph-open' ),
                close : this.shapeEl.getAttribute( 'data-morph-close' )
            };

            this.isOpen = false;

            this.initEvents();
        };

        initEvents() {
            this.trigger.addEventListener( 'click', this.toggle.bind(this) );
        };

        toggle() {
            var self = this;

            if( this.isOpen ) {
                classie.remove( self.el, 'menu--anim' );
                setTimeout( function() { classie.remove( self.el, 'menu--open' );	}, 250 );
            }
            else {
                classie.add( self.el, 'menu--anim' );
                setTimeout( function() { classie.add( self.el, 'menu--open' );	}, 250 );
            }
            this.pathEl.stop().animate( { 'path' : this.isOpen ? this.paths.close : this.paths.open }, 350, mina.easeout, function() {
                self.pathEl.stop().animate( { 'path' : self.paths.reset }, 800, mina.elastic );
            } );

            this.isOpen = !this.isOpen;
        };


    }

    // Use custom elements API v1 to register a new HTML tag and define its JS behavior
    // using an ES6 class. Every instance of <custom-component> will have this same prototype.
    window.customElements.define(StringMenuCircle.is, StringMenuCircle);


</script>