
<!-- SHADOW DOM -->
<!-- Defines element markup -->
<template>

    <style>

        :host   {

            display: block; /* by default, custom elements are display: inline */
            opacity: 0.8;
            will-change: opacity;
            transition: opacity 300ms ease-in-out;
        }

        :host(:hover) {

        }
        :host([disabled]) { /* style when host has disabled attribute. */

        }
        :host(.blue) {
            color: blue; /* color host when it has class="blue" */
        }
        :host(.pink) > #tabs {
            color: pink; /* color internal #tabs node when host has class="pink". */
        }

        div {

        }

    </style>


    <!-- WEB COMP STRUCTURE -->
    <div>
        <strong>Shadow dom super powers for the win!</strong>
        <slot></slot>
    </div>


</template>


<script type="text/javascript">

    class WebCompTemplate extends HTMLElement {
        // Define behavior here

        // Se crea o se actualiza una instancia del elemento. Es útil para inicializar el estado, configurar
        // receptores de eventos ocrear un Shadow DOM. Consulta la especificación para obtener información sobre
        // las restricciones en relación con lo que puedes hacer en el constructor. -->
        // Can define constructor arguments if you wish.
        constructor() {
            // If you define a ctor, always call super() first!
            // This is specific to CE and required by the spec.
            super();


            // Create a shadow root for our web-comp-template.html component.
            var shadowRoot = this.attachShadow({mode: 'open'});

            // We can set the shadow root html content in several ways:

            // We can of course directly write the html>
            // shadowRoot.innerHTML = `<style></style><strong>Shadow dom super powers for the win!</strong>`;

            // Or we can use the template to keep it all in order.
            // Refers to the "importer", which is index.html
            var thatDoc = document;
            // Refers to the "importee, the web component HTML"
            var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
            // Gets content from <template>.
            var template = thisDoc.querySelector( 'template' ).content;


            // Adds a template clone into shadow root.
            var clone = thatDoc.importNode( template, true );
            shadowRoot.appendChild(clone);


        }


        // CALLBAKCS

        // Se llama cada vez que se inserta el elemento en el DOM. Es útil para ejecutar código de configuración,
        // como la obtención de recursos o la representación. En general, debes intentar demorar el trabajo hasta
        // este momento.
        connectedCallback() {

            // Setup a click listener on <web-comp-template.html> itself.
            this.addEventListener('click', e => {
                // Don't toggle the drawer if it's disabled.
                alert("Clicked");

            });

        }

        // 	Se llama cada vez que se quita el elemento del DOM. Es útil para ejecutar código de limpieza
        // (eliminación de receptores de eventos, etc.).
        disconnectedCallback() {

        }

        // Se agrega, quita, actualiza o reemplaza un atributo. También se llama para obtener valores iniciales
        // cuando el analizador crea un elemento o lo actualiza. Nota: solo los atributos que se indiquen en la
        // propiedad observedAttributes recibirán este callback.
        attributeChangedCallback(attrName, oldVal, newVal) {

        }

        // El elemento personalizado se traslada a un nuevo document (p. ej., alguien llama a document.adoptNode(el)).
        adoptedCallback()   {

        }


        //<!-- ATTRIBUTES -->
        // Add js properties mapped with html attributes.
        // Set the "open" property
        set open(option) {
            this.setAttribute("open", option);
        }

        // Get the "open" property
        get open() {
            return this.hasAttribute("open");
        }


    }

    // Use custom elements API v1 to register a new HTML tag and define its JS behavior
    // using an ES6 class. Every instance of <custom-component> will have this same prototype.
    window.customElements.define('web-comp-template', DottedBg);


</script>