<!-- WATER DROP EFFECT 2 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- https://github.com/sirxemic/jquery.ripples/ ++++++++ -->
<!-- jquery.ripples-min.js   -> Is the library needed to create the wave water effect. +++++++++++++++++++++++ -->
<!-- 


++++++++++++++++++++++++++++++++++++
++++++ jQuery Ripples Plugin +++++++
++++++++++++++++++++++++++++++++++++

By the powers of WebGL, add a layer of water to your HTML elements which will ripple by cursor interaction!

Important: this plugin requires the WebGL extension OES_texture_float (and OES_texture_float_linear for a better effect) and works only with same-origin images (see this link for more information on using cross-origin requested images).

Go to http://sirxemic.github.io/jquery.ripples/ for a demo and to see how to use it.

++++++++++++++++++++
++++++ USAGE +++++++
++++++++++++++++++++

Include the script at the end of your page after including jQuery, or when you are using bundling tools such as Webpack or Browserify, simply import it into your bundle.

The quickest way to use this plugin on an element is to ensure that the element has a background-image set (currently only URLs are supported), then initialize the plugin as follows:

$(selector).ripples();
Optionally you can tweak the behavior and appearance by initializing it with options (See the options secton for the full list of options):

$(selector).ripples({
  dropRadius: ...,
  perturbance: ...,
  ...
});
The plugin also has several methods to programmatically add drops, show, hide or remove the effects among other things. See the methods section for more details.

++++++++++++++++++++
++++++ OPTIONS +++++
++++++++++++++++++++

Name            Type      Default   Description

imageUrl        string    null      The URL of the image to use as the background. If absent the plugin will attempt to use the value of the computed background-image CSS property instead. 
                                    Data-URIs are accepted as well.
dropRadius      float     20        The size (in pixels) of the drop that results by clicking or moving the mouse over the canvas.
perturbance     float     0.03      Basically the amount of refraction caused by a ripple. 0 means there is no refraction.
resolution      integer   256       The width and height of the WebGL texture to render to. The larger this value, the smoother the rendering and the slower the ripples will propagate.
interactive     bool      true      Whether mouse clicks and mouse movement triggers the effect.
crossOrigin     string    ""        The crossOrigin attribute to use for the affected image. For more information see MDN.


++++++++++++++++++++
++++++ METHODS +++++
++++++++++++++++++++

+ drop

Call $(selector).ripples('drop', x, y, radius, strength) to manually add a drop at the element's relative coordinates (x, y). radius controls the drop's size and strength the amplitude of the resulting ripple.

+ destroy

Call $(selector).ripples('destroy') to remove the effect from the element.

+ hide / show

Call .ripples('hide') and .ripples('show') to toggle the effect's visibility. Hiding it will also effectively pause the simulation.

+ pause / play

Call $(selector).ripples('pause') and .ripples('play') to toggle the simulation's state.

+ set

Call $(selector).ripples('set', name, value) to update properties of the effect. The properties that can be updated are:

    + dropRadius
    + perturbance
    + interactive
    + imageUrl (setting the image URL will update the background image used for the effect, but the background-image CSS property will be untouched)
    + crossOrigin (setting this won't have any effect until imageUrl is changed)


++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->



<!DOCTYPE html>
<html><head>

<meta charset=utf-8 />
<title>Water drops effect</title>


<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>


  <script src="libs/jquery.ripples-min.js"></script>


<style>


  * { margin: 0; padding: 0; }
  html {
    height: 100%;
  }
  body {
    color: #fff;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url(img/bg2.jpg);
    background-size: cover;
    background-position: 50% 0;
    height: 100%;
    text-align: center;
  }

  body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  main {
    display: inline-block;
    vertical-align: middle;
    background: url(img/bg.jpg);
    padding:  100px;
    max-width: 500px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 18px;
    margin-top: 6px;
  }
  p {
    text-align: left;
    margin-top: 20px;
  }
  a {
    color: #ff6800;
  }
  pre {
    text-align: left;
    margin-top: 20px;
  }

  .error {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #000;
    color: #f00;
    padding: 5px;
    max-width: 50%;
  }

  button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 0.8em;
    line-height: 2em;
    border: none;
    background: #666;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0.5em;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  }

  button:hover {
    background: #888;
  }

  code { font-size: 0.8em; display: inline; }

  .disable {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .code-string { color:#ec7600 }
  .code-cbracket { font-weight:bold }
  .code-number { color:#ffcd22 }





</style>





</head>
<body>



<main>
  <header>
    <h1>jQuery Ripples</h1>
    <h2>A simple WebGL-based ripple effect.</h2>
  </header>
  <p>Background images are often boring. Use this effect to make your static CSS background images more interactive!</p>
  <p>It's as easy as:</p>

  <pre><code>
$(<span class="code-string">'body'</span>).ripples(<span class="code-cbracket">{</span>
  resolution: <span class="code-number">512</span>,
  dropRadius: <span class="code-number">20</span>,
  perturbance: <span class="code-number">0.04</span>,
<span class="code-cbracket">}</span>);
  </code></pre>

  <p>You can add drops programmatically by doing <code>$(<span class="code-string">'body'</span>).ripples(<span class="code-string">"drop"</span>, x, y, radius, strength)</code></p>

  <p>And you can change its state:<br>
  <button class="js-ripples-pause" type="button">
    <code>$(<span class="code-string">'body'</span>).ripples(<span class="code-string">"pause"</span>)</code>
  </button>

  <button class="js-ripples-play" type="button">
    <code>$(<span class="code-string">'body'</span>).ripples(<span class="code-string">"play"</span>)</code>
  </button>
  </p>

  <p>Download or fork this effect at <a href="//github.com/sirxemic/jquery.ripples/">Github</a>.</p>
</main>

<button class="js-ripples-disable disable">
  Click here if your PC can't handle this effect very well
  (<code>$(<span class="code-string">'body'</span>).ripples(<span class="code-string">"destroy"</span>)</code>)
</button>

<div class="error"></div>








<script type="text/javascript">

$(document).ready(function() {
  try {
    $('body').ripples({
      resolution: 512,
      dropRadius: 20, //px
      perturbance: 0.04,
    });
    $('main').ripples({
      resolution: 128,
      dropRadius: 10, //px
      perturbance: 0.04,
      interactive: false
    });
  }
  catch (e) {
    $('.error').show().text(e);
  }

  $('.js-ripples-disable').on('click', function() {
    $('body, main').ripples('destroy');
    $(this).hide();
  });

  $('.js-ripples-play').on('click', function() {
    $('body, main').ripples('play');
  });

  $('.js-ripples-pause').on('click', function() {
    $('body, main').ripples('pause');
  });

  // Automatic drops
  setInterval(function() {
    var $el = $('main');
    var x = Math.random() * $el.outerWidth();
    var y = Math.random() * $el.outerHeight();
    var dropRadius = 20;
    var strength = 0.04 + Math.random() * 0.04;

    $el.ripples('drop', x, y, dropRadius, strength);
  }, 400);
});


</script>



</body>

</html>