<!-- https://jonsuh.com/hamburgers/ -->

<!--

Usage

    Download and include the CSS in the <head> of your site:
    
        <link href="dist/hamburgers.css" rel="stylesheet">
    
    Add the base hamburger markup:
        
        <button class="hamburger" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>  

    You can use <div>s if you insist, but they’re not accessible as a menu button.

        <div class="hamburger">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>

    Append the class name of the type of hamburger you’re craving:
        <button class="hamburger hamburger--collapse" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

    Here’s the list of hamburger-type classes you can choose from:

    hamburger--3dx
    hamburger--3dx-r
    hamburger--3dy
    hamburger--3dy-r
    hamburger--arrow
    hamburger--arrow-r
    hamburger--arrowalt
    hamburger--arrowalt-r
    hamburger--boring
    hamburger--collapse
    hamburger--collapse-r
    hamburger--elastic
    hamburger--elastic-r
    hamburger--emphatic
    hamburger--emphatic-r
    hamburger--slider
    hamburger--slider-r
    hamburger--spin
    hamburger--spin-r
    hamburger--spring
    hamburger--spring-r
    hamburger--stand
    hamburger--stand-r
    hamburger--squeeze
    hamburger--vortex
    hamburger--vortex-r
    Note: -r classes are reverse variants (e.g. hamburger--spin spins clockwise whereas hamburger--spin-r spins counterclockwise.

    Trigger the active state by appending class name is-active:

        <button class="hamburger hamburger--collapse is-active" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

    Since the class name would have to be toggled via JavaScript and implementation would differ based on the context of how you plan on using the hamburger, I’m going to leave the rest up to you.
    Here’s a snippet of how to toggle a class name on click with JavaScript:

        <script>
          // Look for .hamburger
          var hamburger = document.querySelector(".hamburger");
          // On click
          hamburger.addEventListener("click", function() {
            // Toggle class "is-active"
            hamburger.classList.toggle("is-active");
            // Do something else, like open/close menu
          });
        </script>
    
    ...or jQuery:

        <script>
          var $hamburger = $(".hamburger");
          $hamburger.on("click", function(e) {
            $hamburger.toggleClass("is-active");
            // Do something else, like open/close menu
          });
        </script>

Sass

    .scss source files are available if you use Sass as your CSS precompiler. It’s customizable and modular.

    Hamburgers is available on npm, yarn and Bower.
    npm install hamburgers

    yarn get hamburgers

    bower install css-hamburgers
    Also available as a Ruby gem to use within your Rails application—see below for more information.

    Or to manually install it, download and unzip the source files, then copy the files from the _sass/hamburgers directory into your project.

    Import the hamburgers.scss file in your Sass manifest file:
    @import "path/to/hamburgers";
    Customize your hamburger and/or remove any types you don’t want in hamburgers.scss.
    Compile your Sass*, and voila!
    * Be sure to run the CSS through Autoprefixer since the Sass doesn’t account for vendor prefixes.

    Install for Ruby on Rails

    Add Hamburgers to your Gemfile.
    gem 'hamburgers'
    Run bundle install.
    Include Hamburgers by using Sass’s native @import**:
    // application.scss
    @import "hamburgers";
    ** More information on why Sass’s native @import + why you should ditch Sprockets directives altogether.

Customization

    To override default settings, declare them before importing Hamburgers:

    $hamburgers-padding-x: 20px;
    $hamburgers-padding-y: 15px;
    $hamburger-types     : (collapse);

    @import "hamburgers";
    You can also create a separate file (e.g. hamburgers-settings.scss) with those declarations, then import it before Hamburgers:

    @import "hamburgers-settings"
    @import "hamburgers";
    Here is the full list of default settings (found in _sass/hamburgers/hamburgers.scss);

    $hamburger-padding-x                       : 15px;
    $hamburger-padding-y                       : 15px;
    $hamburger-layer-width                     : 40px;
    $hamburger-layer-height                    : 4px;
    $hamburger-layer-spacing                   : 6px;
    $hamburger-layer-color                     : #000;
    $hamburger-layer-border-radius             : 4px;
    $hamburger-hover-opacity                   : 0.7;
    $hamburger-hover-transition-duration       : 0.15s;
    $hamburger-hover-transition-timing-function: linear;

    // To use CSS filters as the hover effect instead of opacity,
    // set $hamburger-hover-use-filter as true and
    // change the value of $hamburger-hover-filter accordingly.
    $hamburger-hover-use-filter: false;
    $hamburger-hover-filter    : opacity(50%);

    // Remove or comment out the hamburger types you don’t want
    // or need, so they get excluded from the compiled CSS.
    $hamburger-types: (
      3dx,
      3dx-r,
      3dy,
      3dy-r,
      arrow,
      arrow-r,
      arrowalt,
      arrowalt-r,
      boring,
      collapse,
      collapse-r,
      elastic,
      elastic-r,
      emphatic,
      emphatic-r,
      slider,
      slider-r,
      spring,
      spring-r,
      stand,
      stand-r,
      spin,
      spin-r,
      squeeze,
      vortex,
      vortex-r
    );
    ems or rems

    Wanna work with ems or rems instead of px? Just change all the px values to the unit of your choice. Note: Be consistent (all px or all ems), otherwise it may break—the math behind the customization will fail if it attempts to perform operations with values of different units.

Not satisfied?

    Dig into _base.scss or types/ and customize to your heart’s content. 
    Fair warning: It‘s pretty delicate and may break, especially if you tweak the animations themselves.

Accessibility

    Hamburger menu icons can be useful in the right context, but they’re not the most accessible.

    ARIA will help make it accessible to people with disabilities.

        <nav>
          <button class="hamburger hamburger--elastic" type="button"
                  aria-label="Menu" aria-controls="navigation" aria-expanded="true/false">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>

          <div id="navigation">
            NAVIGATION GOES HERE
          </div>
        </nav>
    
    You will need JavaScript to toggle between aria-expanded attribute being set to true and false, as this will indicate to visually impaired users whether the menu is opened or closed.

    The hamburger button belongs inside the <nav> so that assistive technologies will be able to locate the navigation, and to allow these users to easily locatate the hamburger button, without having to search up and down the DOM, once they realize they've found themselves in an empty navigation.

    If you insist on using <div>s, by default they’re not focusable (i.e. via keyboard or assistive technology). Add the tabindex attribute alongside ARIA. You will also need to recreate expected keyboard functionality for these <div>s. Using JavaScript, you will need to make sure that both Space and Enter will toggle the hamburger states.

        <nav id="navigation">

          <div class="hamburger hamburger--elastic" tabindex="0"
               aria-label="Menu" role="button" aria-controls="navigation" aria-expanded="true/false">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>

          <div id="navigation">
            NAVIGATION GOES HERE
          </div>
        </nav>
    
    A label will help make it more obvious that it toggles a menu.

        <button class="hamburger hamburger--collapse" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
          <span class="hamburger-label">Menu</span>
        </button>

    Here are some resources on web accessibility and ARIA.

Browser Support

    Animations use CSS3 3D transforms (translate3d whenever possible for GPU acceleration), which is supported by most browsers (not supported by IE9 and older and Opera Mini). For detailed browser support, check caniuse.com. -->
<!--  -->


<!DOCTYPE html>
<html><head>
<style>




    .table {
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      -ms-flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .tray {
      position: relative;
      width: 50%;
      padding-top: 4.75em;
      padding-bottom: 3em;
      text-align: center;
      background-color: #2196f3;
    }

    .tray:first-child {
      background-color: #4a148c;
    }

    .tray:nth-child(2) {
      background-color: #4db6ac;
    }

    .tray:nth-child(3) {
      background-color: #ff5722;
    }

    .tray:nth-child(4) {
      background-color: #444;
    }

    .tray:nth-child(5) {
      background-color: #ec407a;
    }

    .tray:nth-child(6) {
      background-color: #fbc02d;
    }

    .tray:nth-child(7) {
      background-color: #2196f3;
    }

    .tray:nth-child(8) {
      background-color: #607d8b;
    }

    .tray:nth-child(9) {
      background-color: #43a047;
    }

    .tray:nth-child(10) {
      background-color: #3f51b5;
    }

    .tray:nth-child(11) {
      background-color: #00bcd4;
    }

    .tray:nth-child(12) {
      background-color: #f44336;
    }

    .tray:nth-child(13) {
      background-color: #9c27b0;
    }

    .tray:nth-child(14) {
      background-color: #795548;
    }

    .tray--empty {
      display: none;
      border: 1px dashed #999;
      background-color: transparent;
    }

    .tray--empty+.tray--empty {
      border-left: 0;
    }

    .section {
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
    }

    .section:first-child {
      background-color: #fff;
    }

    @media only screen and (min-width:768px) {
      .tray {
        width: 20%;
        padding-top: 6.75em;
        padding-bottom: 5em;
      }

      .tray--empty {
        display: block;
      }
    }














    /*!
     * HAMBURGERS.
     * @description Tasty CSS-animated hamburgers
     * @author Jonathan Suh @jonsuh
     * @site https://jonsuh.com/hamburgers
     * @link https://github.com/jonsuh/hamburgers
     */
    .hamburger {
      padding: 15px 15px;
      display: inline-block;
      cursor: pointer;
      transition-property: opacity, filter;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      font: inherit;
      color: inherit;
      text-transform: none;
      background-color: transparent;
      border: 0;
      margin: 0;
      overflow: visible; }
      .hamburger:hover {
        opacity: 0.7; }

    .hamburger-box {
      width: 40px;
      height: 24px;
      display: inline-block;
      position: relative; }

    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px; }
      .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 40px;
        height: 4px;
        background-color: #000;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease; }
      .hamburger-inner::before, .hamburger-inner::after {
        content: "";
        display: block; }
      .hamburger-inner::before {
        top: -10px; }
      .hamburger-inner::after {
        bottom: -10px; }

    /*
       * 3DX
       */
    .hamburger--3dx .hamburger-box {
      perspective: 80px; }

    .hamburger--3dx .hamburger-inner {
      transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
        transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

    .hamburger--3dx.is-active .hamburger-inner {
      background-color: transparent;
      transform: rotateY(180deg); }
      .hamburger--3dx.is-active .hamburger-inner::before {
        transform: translate3d(0, 10px, 0) rotate(45deg); }
      .hamburger--3dx.is-active .hamburger-inner::after {
        transform: translate3d(0, -10px, 0) rotate(-45deg); }

    /*
       * 3DX Reverse
       */
    .hamburger--3dx-r .hamburger-box {
      perspective: 80px; }

    .hamburger--3dx-r .hamburger-inner {
      transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
        transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

    .hamburger--3dx-r.is-active .hamburger-inner {
      background-color: transparent;
      transform: rotateY(-180deg); }
      .hamburger--3dx-r.is-active .hamburger-inner::before {
        transform: translate3d(0, 10px, 0) rotate(45deg); }
      .hamburger--3dx-r.is-active .hamburger-inner::after {
        transform: translate3d(0, -10px, 0) rotate(-45deg); }

    /*
       * 3DY
       */
    .hamburger--3dy .hamburger-box {
      perspective: 80px; }

    .hamburger--3dy .hamburger-inner {
      transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
        transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

    .hamburger--3dy.is-active .hamburger-inner {
      background-color: transparent;
      transform: rotateX(-180deg); }
      .hamburger--3dy.is-active .hamburger-inner::before {
        transform: translate3d(0, 10px, 0) rotate(45deg); }
      .hamburger--3dy.is-active .hamburger-inner::after {
        transform: translate3d(0, -10px, 0) rotate(-45deg); }

    /*
       * 3DY Reverse
       */
    .hamburger--3dy-r .hamburger-box {
      perspective: 80px; }

    .hamburger--3dy-r .hamburger-inner {
      transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
        transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

    .hamburger--3dy-r.is-active .hamburger-inner {
      background-color: transparent;
      transform: rotateX(180deg); }
      .hamburger--3dy-r.is-active .hamburger-inner::before {
        transform: translate3d(0, 10px, 0) rotate(45deg); }
      .hamburger--3dy-r.is-active .hamburger-inner::after {
        transform: translate3d(0, -10px, 0) rotate(-45deg); }

    /*
       * Arrow
       */
    .hamburger--arrow.is-active .hamburger-inner::before {
      transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

    .hamburger--arrow.is-active .hamburger-inner::after {
      transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

    /*
       * Arrow Right
       */
    .hamburger--arrow-r.is-active .hamburger-inner::before {
      transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

    .hamburger--arrow-r.is-active .hamburger-inner::after {
      transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

    /*
       * Arrow Alt
       */
    .hamburger--arrowalt .hamburger-inner::before {
      transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

    .hamburger--arrowalt .hamburger-inner::after {
      transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

    .hamburger--arrowalt.is-active .hamburger-inner::before {
      top: 0;
      transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
      transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

    .hamburger--arrowalt.is-active .hamburger-inner::after {
      bottom: 0;
      transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
      transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

    /*
       * Arrow Alt Right
       */
    .hamburger--arrowalt-r .hamburger-inner::before {
      transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

    .hamburger--arrowalt-r .hamburger-inner::after {
      transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

    .hamburger--arrowalt-r.is-active .hamburger-inner::before {
      top: 0;
      transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
      transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

    .hamburger--arrowalt-r.is-active .hamburger-inner::after {
      bottom: 0;
      transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
      transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

    /*
       * Boring
       */
    .hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
      transition-property: none; }

    .hamburger--boring.is-active .hamburger-inner {
      transform: rotate(45deg); }
      .hamburger--boring.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0; }
      .hamburger--boring.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(-90deg); }

    /*
       * Collapse
       */
    .hamburger--collapse .hamburger-inner {
      top: auto;
      bottom: 0;
      transition-duration: 0.13s;
      transition-delay: 0.13s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--collapse .hamburger-inner::after {
        top: -20px;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
      .hamburger--collapse .hamburger-inner::before {
        transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--collapse.is-active .hamburger-inner {
      transform: translate3d(0, -10px, 0) rotate(-45deg);
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .hamburger--collapse.is-active .hamburger-inner::after {
        top: 0;
        opacity: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
      .hamburger--collapse.is-active .hamburger-inner::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

    /*
       * Collapse Reverse
       */
    .hamburger--collapse-r .hamburger-inner {
      top: auto;
      bottom: 0;
      transition-duration: 0.13s;
      transition-delay: 0.13s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--collapse-r .hamburger-inner::after {
        top: -20px;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
      .hamburger--collapse-r .hamburger-inner::before {
        transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--collapse-r.is-active .hamburger-inner {
      transform: translate3d(0, -10px, 0) rotate(45deg);
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .hamburger--collapse-r.is-active .hamburger-inner::after {
        top: 0;
        opacity: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
      .hamburger--collapse-r.is-active .hamburger-inner::before {
        top: 0;
        transform: rotate(90deg);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

    /*
       * Elastic
       */
    .hamburger--elastic .hamburger-inner {
      top: 2px;
      transition-duration: 0.275s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .hamburger--elastic .hamburger-inner::before {
        top: 10px;
        transition: opacity 0.125s 0.275s ease; }
      .hamburger--elastic .hamburger-inner::after {
        top: 20px;
        transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

    .hamburger--elastic.is-active .hamburger-inner {
      transform: translate3d(0, 10px, 0) rotate(135deg);
      transition-delay: 0.075s; }
      .hamburger--elastic.is-active .hamburger-inner::before {
        transition-delay: 0s;
        opacity: 0; }
      .hamburger--elastic.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(-270deg);
        transition-delay: 0.075s; }

    /*
       * Elastic Reverse
       */
    .hamburger--elastic-r .hamburger-inner {
      top: 2px;
      transition-duration: 0.275s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .hamburger--elastic-r .hamburger-inner::before {
        top: 10px;
        transition: opacity 0.125s 0.275s ease; }
      .hamburger--elastic-r .hamburger-inner::after {
        top: 20px;
        transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

    .hamburger--elastic-r.is-active .hamburger-inner {
      transform: translate3d(0, 10px, 0) rotate(-135deg);
      transition-delay: 0.075s; }
      .hamburger--elastic-r.is-active .hamburger-inner::before {
        transition-delay: 0s;
        opacity: 0; }
      .hamburger--elastic-r.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(270deg);
        transition-delay: 0.075s; }

    /*
       * Emphatic
       */
    .hamburger--emphatic {
      overflow: hidden; }
      .hamburger--emphatic .hamburger-inner {
        transition: background-color 0.125s 0.175s ease-in; }
        .hamburger--emphatic .hamburger-inner::before {
          left: 0;
          transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
        .hamburger--emphatic .hamburger-inner::after {
          top: 10px;
          right: 0;
          transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
      .hamburger--emphatic.is-active .hamburger-inner {
        transition-delay: 0s;
        transition-timing-function: ease-out;
        background-color: transparent; }
        .hamburger--emphatic.is-active .hamburger-inner::before {
          left: -80px;
          top: -80px;
          transform: translate3d(80px, 80px, 0) rotate(45deg);
          transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
        .hamburger--emphatic.is-active .hamburger-inner::after {
          right: -80px;
          top: -80px;
          transform: translate3d(-80px, 80px, 0) rotate(-45deg);
          transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

    /*
       * Emphatic Reverse
       */
    .hamburger--emphatic-r {
      overflow: hidden; }
      .hamburger--emphatic-r .hamburger-inner {
        transition: background-color 0.125s 0.175s ease-in; }
        .hamburger--emphatic-r .hamburger-inner::before {
          left: 0;
          transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
        .hamburger--emphatic-r .hamburger-inner::after {
          top: 10px;
          right: 0;
          transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
      .hamburger--emphatic-r.is-active .hamburger-inner {
        transition-delay: 0s;
        transition-timing-function: ease-out;
        background-color: transparent; }
        .hamburger--emphatic-r.is-active .hamburger-inner::before {
          left: -80px;
          top: 80px;
          transform: translate3d(80px, -80px, 0) rotate(-45deg);
          transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
        .hamburger--emphatic-r.is-active .hamburger-inner::after {
          right: -80px;
          top: 80px;
          transform: translate3d(-80px, -80px, 0) rotate(45deg);
          transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

    /*
       * Slider
       */
    .hamburger--slider .hamburger-inner {
      top: 2px; }
      .hamburger--slider .hamburger-inner::before {
        top: 10px;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.15s; }
      .hamburger--slider .hamburger-inner::after {
        top: 20px; }

    .hamburger--slider.is-active .hamburger-inner {
      transform: translate3d(0, 10px, 0) rotate(45deg); }
      .hamburger--slider.is-active .hamburger-inner::before {
        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
        opacity: 0; }
      .hamburger--slider.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(-90deg); }

    /*
       * Slider Reverse
       */
    .hamburger--slider-r .hamburger-inner {
      top: 2px; }
      .hamburger--slider-r .hamburger-inner::before {
        top: 10px;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.15s; }
      .hamburger--slider-r .hamburger-inner::after {
        top: 20px; }

    .hamburger--slider-r.is-active .hamburger-inner {
      transform: translate3d(0, 10px, 0) rotate(-45deg); }
      .hamburger--slider-r.is-active .hamburger-inner::before {
        transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
        opacity: 0; }
      .hamburger--slider-r.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(90deg); }

    /*
       * Spring
       */
    .hamburger--spring .hamburger-inner {
      top: 2px;
      transition: background-color 0s 0.13s linear; }
      .hamburger--spring .hamburger-inner::before {
        top: 10px;
        transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--spring .hamburger-inner::after {
        top: 20px;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--spring.is-active .hamburger-inner {
      transition-delay: 0.22s;
      background-color: transparent; }
      .hamburger--spring.is-active .hamburger-inner::before {
        top: 0;
        transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 10px, 0) rotate(45deg); }
      .hamburger--spring.is-active .hamburger-inner::after {
        top: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 10px, 0) rotate(-45deg); }

    /*
       * Spring Reverse
       */
    .hamburger--spring-r .hamburger-inner {
      top: auto;
      bottom: 0;
      transition-duration: 0.13s;
      transition-delay: 0s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--spring-r .hamburger-inner::after {
        top: -20px;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
      .hamburger--spring-r .hamburger-inner::before {
        transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--spring-r.is-active .hamburger-inner {
      transform: translate3d(0, -10px, 0) rotate(-45deg);
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .hamburger--spring-r.is-active .hamburger-inner::after {
        top: 0;
        opacity: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
      .hamburger--spring-r.is-active .hamburger-inner::before {
        top: 0;
        transform: rotate(90deg);
        transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

    /*
       * Stand
       */
    .hamburger--stand .hamburger-inner {
      transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
      .hamburger--stand .hamburger-inner::before {
        transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--stand .hamburger-inner::after {
        transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--stand.is-active .hamburger-inner {
      transform: rotate(90deg);
      background-color: transparent;
      transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
      .hamburger--stand.is-active .hamburger-inner::before {
        top: 0;
        transform: rotate(-45deg);
        transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
      .hamburger--stand.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(45deg);
        transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

    /*
       * Stand Reverse
       */
    .hamburger--stand-r .hamburger-inner {
      transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
      .hamburger--stand-r .hamburger-inner::before {
        transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--stand-r .hamburger-inner::after {
        transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--stand-r.is-active .hamburger-inner {
      transform: rotate(-90deg);
      background-color: transparent;
      transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
      .hamburger--stand-r.is-active .hamburger-inner::before {
        top: 0;
        transform: rotate(-45deg);
        transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
      .hamburger--stand-r.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(45deg);
        transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

    /*
       * Spin
       */
    .hamburger--spin .hamburger-inner {
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--spin .hamburger-inner::before {
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
      .hamburger--spin .hamburger-inner::after {
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--spin.is-active .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .hamburger--spin.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
      .hamburger--spin.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

    /*
       * Spin Reverse
       */
    .hamburger--spin-r .hamburger-inner {
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--spin-r .hamburger-inner::before {
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
      .hamburger--spin-r .hamburger-inner::after {
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--spin-r.is-active .hamburger-inner {
      transform: rotate(-225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .hamburger--spin-r.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
      .hamburger--spin-r.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

    /*
       * Squeeze
       */
    .hamburger--squeeze .hamburger-inner {
      transition-duration: 0.075s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--squeeze .hamburger-inner::before {
        transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
      .hamburger--squeeze .hamburger-inner::after {
        transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--squeeze.is-active .hamburger-inner {
      transform: rotate(45deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .hamburger--squeeze.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
      .hamburger--squeeze.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

    /*
       * Vortex
       */
    .hamburger--vortex .hamburger-inner {
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
      .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
        transition-duration: 0s;
        transition-delay: 0.1s;
        transition-timing-function: linear; }
      .hamburger--vortex .hamburger-inner::before {
        transition-property: top, opacity; }
      .hamburger--vortex .hamburger-inner::after {
        transition-property: bottom, transform; }

    .hamburger--vortex.is-active .hamburger-inner {
      transform: rotate(765deg);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
      .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
        transition-delay: 0s; }
      .hamburger--vortex.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0; }
      .hamburger--vortex.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(90deg); }

    /*
       * Vortex Reverse
       */
    .hamburger--vortex-r .hamburger-inner {
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
      .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
        transition-duration: 0s;
        transition-delay: 0.1s;
        transition-timing-function: linear; }
      .hamburger--vortex-r .hamburger-inner::before {
        transition-property: top, opacity; }
      .hamburger--vortex-r .hamburger-inner::after {
        transition-property: bottom, transform; }

    .hamburger--vortex-r.is-active .hamburger-inner {
      transform: rotate(-765deg);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
      .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
        transition-delay: 0s; }
      .hamburger--vortex-r.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0; }
      .hamburger--vortex-r.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(-90deg); }



</style>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>



</head>
<body>


<section class="table">
    <div class="tray">
      <div class="name">Slider</div>
      <div class="hamburger hamburger--slider js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">Squeeze</div>
      <div class="hamburger hamburger--squeeze js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">Arrow</div>
      <div class="hamburger hamburger--arrow js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">Arrow Alt</div>
      <div class="hamburger hamburger--arrowalt js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">Spin</div>
      <div class="hamburger hamburger--spin js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">Elastic</div>
      <div class="hamburger hamburger--elastic js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">Emphatic</div>
      <div class="hamburger hamburger--emphatic js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">Collapse</div>
      <div class="hamburger hamburger--collapse js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">Vortex</div>
      <div class="hamburger hamburger--vortex js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">Stand</div>
      <div class="hamburger hamburger--stand js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">Spring</div>
      <div class="hamburger hamburger--spring js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">3DX</div>
      <div class="hamburger hamburger--3dx js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">3DY</div>
      <div class="hamburger hamburger--3dy js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray">
      <div class="name">Boring</div>
      <div class="hamburger hamburger--boring js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="tray tray--empty"></div>
  </section>




<script type="text/javascript">


!function() {

    var n = function(e,n,t) {
        
        if("[object Object]" === Object.prototype.toString.call(e))

            for(var i in e)

                Object.prototype.hasOwnProperty.call(e,i) && n.call(t,e[i],i,e);

        else 

            for(var a = 0, o = e.length; o > a; a++)

                    n.call(t,e[a],a,e);
    };
    
    var t= {
        make: function() {

            var e=document.querySelectorAll(".hamburger");
            
            e.length >0 && n(e,function(e) {

                e.addEventListener("click",t.clickHandle,!1);
        
            });
        
        },

        clickHandle:function(e) {
            e.preventDefault(),this.classList.toggle("is-active");
        }
    }

    t.make();
}();

</script>
</body>

</html>