body{background:#eee;margin:0;padding:0}

.example{background:#FFF;width:600px;border:1px #000 solid;margin:20px auto;padding:15px;-moz-border-radius: 3px;-webkit-border-radius: 3px}

#water {

	width:500px;

	height:400px;

	display: block;

	margin:0px auto;

	cursor:pointer;

}

#switcher {

	text-align:center;

	overflow:hidden;

	margin:15px;

}

#switcher img {

	width:160px;

	height:120px;

}
